.light {
  --md-sys-color-primary: rgb(64 54 0);
  --md-sys-color-surface-tint: rgb(110 93 0);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(127 108 0);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(64 54 0);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(122 109 49);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(43 60 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(89 119 0);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(116 0 6);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(207 44 39);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 249 238);
  --md-sys-color-on-background: rgb(30 27 17);
  --md-sys-color-surface: rgb(255 249 238);
  --md-sys-color-on-surface: rgb(19 17 8);
  --md-sys-color-surface-variant: rgb(235 226 200);
  --md-sys-color-on-surface-variant: rgb(59 54 36);
  --md-sys-color-outline: rgb(88 82 62);
  --md-sys-color-outline-variant: rgb(115 109 87);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(52 48 37);
  --md-sys-color-inverse-on-surface: rgb(248 240 223);
  --md-sys-color-inverse-primary: rgb(229 197 36);
  --md-sys-color-primary-fixed: rgb(127 108 0);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(99 84 0);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(122 109 49);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(97 84 27);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(89 119 0);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(69 93 0);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(205 198 182);
  --md-sys-color-surface-bright: rgb(255 249 238);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(251 243 226);
  --md-sys-color-surface-container: rgb(239 232 215);
  --md-sys-color-surface-container-high: rgb(227 220 204);
  --md-sys-color-surface-container-highest: rgb(216 209 193);
}
